@import 'base';

$this: ".percent";

#{$this} {
  &--rotate-25{
    transform: rotate(-45deg);
  }
  &--rotate-50{
    transform: rotate(45deg);
  }
  &--rotate-75{
    transform: rotate(45deg);
  }

  &--green{
    color: $theme-color-primary;
  }
}
