@import "base";

$icon-wrapper: ".icon-wrapper";

.about-us-section {
  #{$icon-wrapper} {
    i {
      font-size: 30px;
    }
  }
}

.recruiting-approach-section {
  color: #e6e6e6;
  background-image: url("../img/background-section.jpg");
  background-size: cover;

  .para-left{
    color: $theme-color-primary;
    text-align: right;
    line-height: 150%;
    font-weight: bold;
  }
  .para-right{
    text-align: left;
    font-size: small;
  }
}

.pricing-section{
  .subText{
    font-size: 11px;
  }
}
