@import "base";

$icon-wrapper: ".icon-wrapper";

.background-img{
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.about-us-section {
  #{$icon-wrapper} {
    i {
      font-size: 30px;
    }
  }
}

.recruiting-approach-section {
  color: #e6e6e6;


  .para-left{
    color: $theme-color-primary;
    text-align: right;
    line-height: 150%;
    font-weight: bold;
    margin-right: 10px;
  }
  .para-right{
    text-align: left;
    font-size: small;
    margin-left: 5px;
  }

  @include breakpoint(small only){
    .para-left{
      text-align: center;
      margin: 0px;
    }
    .para-right{
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.pricing-section{
  .subText{
    font-size: 11px;
  }
  .small-scaling{
    margin-left: 100px;
    margin-right: 100px;
  }
  @include breakpoint(small only){
    .small-scaling{
      margin-left: 0px;
      margin-right: 0px;
    }

  }
  @include breakpoint(medium down){
    .small-disp{
      margin-bottom: 10px;
    }
  }
}

.stats-section {
  color: #e6e6e6;
}



