@import "base";

$this: ".feature-card";

#{$this} {
  &__icon {
    font-size: 50px;
    padding: 0 25px;

    * {
      font-size: inherit;
    }
  }

  &__title {
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 16px;
  }

  &__description {
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 100;
  }

  @include breakpoint-component('icon-left') {
    display: flex;
    flex-direction: row;
  }

  @include breakpoint-component('icon-right') {
    display: flex;
    flex-direction: row-reverse;
  }

  @include breakpoint-component('icon-center') {
    display: flex;
    flex-direction: column;
  }

  &--about-us{
    #{$this}__title {
      color: $theme-color-primary;
      font-size: 25px;
      font-weight: 700;
    }
    #{$this}__description {
      color: #767676;
      font-size: 12px;
    }
  }

  &--stat-style{
    #{$this}__title {
      padding-top: 17px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 15px;
      color:  white;
      font-size: 23px;
      font-weight: 700;
    }
    #{$this}__description {
      margin-left: 10px;
      margin-right: 10px;
      color: white;
      font-size: 12px;
    }
    #{$this}__icon {
      margin: 0px;
      padding: 0 10px;
    }
  }

}


