@import 'base';

$this: ".border";

#{$this} {
  &__content-holder{
    display: inline-block;
    margin: auto;
    margin-top: 25px;
    //margin-right: 10px;
    text-align: center;
    position: relative;
    min-height: 130px;
    min-width: 130px;

    border-radius: 50%;
    border-style: solid;
    border-color: $theme-color-primary;
    border-width: 7px;

    line-height: 1;
    font-size: 35px;
    padding-top: 30px;
  }


  &--rotate-25{
    #{$this}__content-holder {
      border-color: white;
      border-top-color: $theme-color-primary;
      transform: rotate(45deg);
      -webkit-transition: 1s;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;transition: 1s;
    }
  }

  &--rotate-50{
    #{$this}__content-holder{
      border-top-color: white;
      border-left-color: white;
      transform: rotate(-45deg);
      -webkit-transition: 1s;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;transition: 1s;
    }
  }

  &--rotate-75 {
    #{$this}__content-holder {
      border-top-color: white;
      transform: rotate(-45deg);
      -webkit-transition: 1s;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;transition: 1s;
    }
  }

}
